<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>控制结构</title>
</head>
<body>
<!--if-endif-->
{% if params.uname %}
<h1>欢迎:{{ params.uname }}</h1>
{% endif %}

<!--if-else-endif-->
{% if params.uname %}
<h1>欢迎:{{ params.uname }}</h1>
{% else %}
<a href="{{ url_for('login')}} ">登录首页去</a>
{% endif %}

<!--for-->
<div style="font-size: 20px">
    {% for str in params.list %}
    <p>{{ str }}</p>
    {% endfor %}
</div>
<ul>
    {% for str in params.tup %}
    <li>{{str}}</li>
    {% endfor %}
</ul>

<div style="color: blue;">
   {% for key,value  in params.dic.items() %}
    <p>{{key}} : {{value}}</p>
    {% endfor %}
</div>

<!--声明一个宏-->
{% macro show(name) %}
<li style="color: blueviolet">{{name}}</li>
{% endmacro %}
<h2>使用宏显示数据</h2>
<ul>
    {% for name in params.list %}
    {{ show(name) }}
    {% endfor %}
</ul>


<h2>引入宏文件</h2>
{% import 'macro.html' as macros %}
<ul>
    {% for str in params.tup %}
    {{ macros.show_li(str) }}
    {% endfor %}
</ul>


<!--包含模板文件-->
{% include 'head.html' %}

<div>自己的</div>
</body>
</html>