<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>head</title>
</head>
<body>
    <div class="container">
        <div class="top">
            <h2>网页头部</h2>
        </div>
        <div class="nav">
            <ul>
                <li>
                    <a href="#">导航一</a>
                </li>
                <li>
                    <a href="#">导航二</a>
                </li>
                <li>
                    <a href="#">导航三</a>
                </li>
                <li>
                    <a href="#">{{name}}</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>