<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <style>
        .container{
            width: 90%;
            margin: 0 auto;
            color: blue;
        }
        .container .title{
            color: aqua;
            background-color: antiquewhite;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="title">我是index页面</div>
    <div class="main">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet asperiores consequuntur delectus doloremque ducimus eaque impedit libero pariatur placeat qui quo quod repellendus,
        sapiente sit, ullam velit vero voluptate?
    </div>
</div>
</body>
</html>